<p id="notice"><%= notice %></p>

<h1>
  <%= @song.name %>
</h1>

<p>
  <strong>Artist:</strong>
  <%= link_to @song.artist.name, @song.artist %>
</p>

<p>
  <strong>Duration:</strong>
  <%= format_duration @song.duration %> 
</p>

<p>
  <strong>Released at:</strong>
  <%= @song.released_at %>
  <%= @song.released_at.year %>
</p>


<%= link_to 'Edit', edit_song_path(@song) %> |
<%= link_to 'Back', songs_path %>
